{% assign settings = site.data.settings %}
{% assign logo = page.logo | default: "/assets/img/content/logo-TMH@2x.png" %}

<!-- HEADER TOP -->
<!-- <div class="global-header-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="tel:{{ settings.offices[0].phone }}">
                    <i class="fa fa-phone"></i>&nbsp;
                    <span class="text hidden-sm-down">Powered by liquidvisual</span>
                </a>
            </div>
            <div class="col-6 text-right">
                <a href="#search" data-search-trigger>
                    <i class="fa fa-search"></i>&nbsp;
                    <span class="text hidden-sm-down">&nbsp;Search</span>
                </a>
            </div>
        </div>
    </div>
</div> -->

<!-- HEADER BODY -->
<div class="global-header-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">

                <!-- LOGO -->
                <a class="logo mb-3" href="/" title="{{ settings.title_homepage }}" itemprop="url">
                    <img src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
                </a>

                <!-- HAMBURGER -->
                <div class="global-header-hamburger hidden-lg-up">
                    <div class="lv-hamburger" data-menu-toggle>
                        <span class="lv-hamburger-top"></span>
                        <span class="lv-hamburger-middle"></span>
                        <span class="lv-hamburger-bottom"></span>
                        <span class="lv-hamburger-hit"></span>
                    </div>
                </div>

                <!-- SOCIAL MEDIA -->
                {% include snippets/social_media.html %}

                <!-- NAVIGATION -->
                <!-- <nav class="lv-topbar hidden-md-down">
                    { % include snippets/navigation.html %}
                </nav> -->

            </div>
        </div>
    </div>
</div>