/*
    ANIMATION.CSS

    - Last updated: 05.11.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// INIT
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// 01. SHELF
//-----------------------------------------------------------------

.has-loaded .nav-channels {
	transform: translateY(400px); // fallback
	transform: translateY(calc(-100% + 100vh));

	@keyframes nav-channels-slide-up {
	    0%   { transform: translateY(calc(-100% + 100vh)); }
	    50%  { transform: translateY(-50px); }
	    100% { transform: translateY(0); }
	}
	animation: nav-channels-slide-up 0.5s ease-out 0.5s alternate 1 forwards;
}

//-----------------------------------------------------------------
// 03. SOCIAL MEDIA
//-----------------------------------------------------------------

.has-loaded .global-header .social-media {
	opacity: 0;
	animation: fadeIn 1s ease 1.8s alternate 1 forwards;
}

//-----------------------------------------------------------------
// 04. SUBSCRIBE BUTTON
//-----------------------------------------------------------------

.has-loaded .btn-subscribe {
	opacity: 0;
	animation: bounceIn 0.8s ease 1.6s alternate 1 forwards;
}

.has-animated .btn-subscribe {
	animation: none;
	opacity: 1;
}

//-----------------------------------------------------------------
// 001. COUCH MAN MOBILE FLICKER - TMH
//-----------------------------------------------------------------

.has-loaded .couch-man-mobile {
	animation: mobile-flicker 4s ease 0s alternate infinite forwards;
}

//-----------------------------------------------------------------
// 002. COUCH MAN BLOOD POOL - TMH
//-----------------------------------------------------------------

.has-loaded .couch-man-blood-pool {
    animation: blood-pool 30s ease 0s alternate forwards;
    transform-origin: top;

    @include media-breakpoint-up(md) {
        animation: blood-pool-md-up 30s ease 0s alternate forwards;
        transform-origin: center;
    }
}

.couch-man-blood-pool-ripple:before,
.couch-man-blood-pool-ripple:after {
   animation: blood-pool-ripple 1.3s linear 0s infinite;
}

.couch-man-blood-pool-ripple:after {
   animation: blood-pool-ripple 1.3s linear 0.9s infinite;
}

//-----------------------------------------------------------------
// KEYFRAMES
//-----------------------------------------------------------------

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounceIn {
  0% { transform: scale(.3); opacity: 1; }
  50% { transform: scale(1.2); opacity: 1; }
  70% { transform: scale(.9); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes mobile-flicker {
    0%   { background: #8dadbb; }
    9%   { background: #8dadbb; }
    10%   { background: #333; }
    25%   { background: #333; }
    26%   { background: #8dadbb; }
    49%   { background: #8dadbb; }
    50%   { background: #333; }
    74%   { background: #333; }
    75%   { background: #8dadbb; }
    94%   { background: #8dadbb; }
    95%   { background: #333; }
    99% { background: #8dadbb; }
    100% { background: #8dadbb; }
}

// Pool drips downwards on mobile
@keyframes blood-pool {
    0% { transform: scale(0.1,1); }
    100% { transform: scale(0.1,85); }
}

@keyframes blood-pool-md-up {
    0% { transform: scale(1,1); }
    100% { transform: scale(2.4,1.1); }
}

@keyframes blood-pool-ripple {
    0%   {
       transform: scale(0);
       opacity: 1;
   }
    100% {
       transform: scale(2);
       opacity: 0;
   }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------