/*
    ATV-IMG.CSS

    - Last updated: 15.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$border-radius: $border-radius;

//-----------------------------------------------------------------
// ATV IMG
//-----------------------------------------------------------------

.atvImg {
    display: block;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(black,0);

    @include media-breakpoint-up(md) {
        // width: 100%;
        height: rem-calc(94); // was 90???
    }

    //=========================================
    // IMG
    //=========================================

    &:active {
        .atvImg-container {
            transform: scale(1.0) !important;
        }
    }

    //=========================================
    // IMG
    //=========================================

    img {
        border-radius: $border-radius;
        box-shadow: 0 2px 8px rgba(black,0.25);
    }
}

//-----------------------------------------------------------------
// CONTAINER
//-----------------------------------------------------------------

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    transition: all 0.2s ease-out;
}

//=========================================
// CONTAINER HOVERS
//=========================================

.atvImg-container.over .atvImg-shadow {
    // box-shadow: 0 45px 100px rgba(black,0.4), 0 16px 40px rgba(black,0.4); // bad for firefox
    // opacity: 1;
    opacity: 0.6;
    transform: scale(1);
}

.atvImg-container.over .atvImg-rendered-layer.is-static {
    opacity: 0.15;
}

//-----------------------------------------------------------------
// LAYERS
//-----------------------------------------------------------------

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    overflow: hidden;
    transform-style: preserve-3d;
}

//-----------------------------------------------------------------
// RENDERED LAYER
//-----------------------------------------------------------------

.atvImg-rendered-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;

    //=========================================
    // STATIC
    //=========================================

    &.is-static {
        opacity: 0;
    }

    //=========================================
    // FOREGROUND
    //=========================================

    &.is-fg {
        background-size: rem-calc(175); // force best rendering
        background-position: bottom center;

        // image-rendering: -webkit-optimize-contrast;
        // image-rendering: auto;
        // image-rendering: crisp-edges;
        // image-rendering: pixelated;
    }
}

//-----------------------------------------------------------------
// SHADOW
//-----------------------------------------------------------------

.atvImg-shadow {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    opacity: 0.7;
    transform: scale(0.9);
    box-shadow: 0 8px 30px rgba(14,21,47,0.6);
    transition: all 0.2s ease-out;
}

//-----------------------------------------------------------------
// SHINE
//-----------------------------------------------------------------

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;
    background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 40%);
    opacity: 0.4;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================