/*
    MEDIA.CSS

    - Last updated: 03.11.16
    - liquidvisual.com
*/
//--------------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------------
//--------------------------------------------------------------------
// MEDIA
//--------------------------------------------------------------------

.media-thumb {
	.img {
		position: relative;
		display: inline-block;
		box-shadow: 0 2px 8px 0px rgba(black, 0.2);
	}

	&.media-thumb-muted .img {
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: rgba($gray, 0.4);
			background: rgba(#222, 0.4);
			transition: background ease 300ms;
		}

		&:before {
			content: "\f04b";
			top: calc(50% - 50px/2);
			left: calc(50% - 50px/2);
			// bottom: 0;
			// right: 0;
			// width: 55px;
			// height: 35px;
			// line-height: 35px;
			width: 50px; //rem-calc(50);
			height: 50px; //rem-calc(50);
			line-height: 50px; //rem-calc(50);
			border-radius: 100%;
			text-indent: 6px;

			box-shadow: 0 2px 8px 0px rgba(black, 0.2);

			// margin: 5px;
			// border-radius: 5px;
			// background: rgba($brand-tertiary, 0.8);
			background: rgba(white, 0.6);
			font-family: "FontAwesome";
			text-align: center;
			font-size: rem-calc(25);
			color: #222;
			opacity: 0;
			transition: opacity 300ms ease, transform 300ms ease;
			transform: scale(0);
			z-index: 1;
		}

		&:hover:after {
			background: rgba(#222, 0.3);
		}

		&:hover:before {
			opacity: 1;
			transform: scale(1);
		}
	}

	@include media-breakpoint-up(lg) {
	    margin-bottom: 0; // MOVE TO SPECIAL? OR HERO?
	}
}

//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

.media-feature {
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 8px 0px rgba(black, 0.2);

	img {
		// visibility: hidden;
	}

	iframe {
		opacity: 0;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transition: opacity 1s ease 3s;
		opacity: 0;
	}
}

.has-loaded .media-feature iframe {
	opacity: 1;
}

//--------------------------------------------------------------------
//
//--------------------------------------------------------------------
//=========================================
//
//=========================================