---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}
{% assign channels = site.data.channels %}

{% include hero.html %}

<!-- CHANNELS -->
<nav class="nav-channels" data-detect-dpi>
	<div class="container">
		<ul class="list-scroller block-grid-xs-1 block-grid-sm-2 block-grid-md-3 block-grid-lg-6 block-grid-xl-6">
			{% for item in channels | limit: 6 %}
				<li>
					<a class="atvImg btn-channel {{ item.class }}" target="_self" href="{{ item.url }}">
						<img width="100%" src="{{ item.image }}" alt="{{ item.title }}">
						<div class="atvImg-layer is-bg"></div>
						<div class="atvImg-layer is-static" data-img="/assets/img/layout/static-4.gif"></div>
						<div class="atvImg-layer is-fg" data-img="{{ item.image }}"></div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>

{% comment %}


<!-- AWAKEN YOUR INNER CREEP -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-7">
				<h1 class="display-1">Awaken Your Inner Creep</h1>
				<h2 class="mb-4">You Creeper!</h2>
				<p>The clock strikes midnight. You hear a bump. Eek! What the hell was that?! Could it be the sweet saltry siren call of the Franken-filled Mitching Hour? You best your sorry ass it was.</p>
				<p>Introducing a brand new show by Mitch that's guaranteed to crawl into your bizarro seafood platters, making obscene gestures at your guests like that scene from Beetlejuice. You've been warned, maggot.</p>
			</div>
			<div class="col-5">
				<img width="100%" src="/assets/img/layout/section-bg.png">
			</div>
		</div>
	</div>
</section>

<!-- WRITE IN -->
<section class="section section-write-in">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<h2 class="display-1">Newsletter Signup</h2>

			</div>
		</div>
	</div>
</section>

<!-- CONTENT -->
<main class="page-content-container">
	<!-- <div class="page-content-container-bleed" data-parallax-scroll="0.3"></div> -->
    <div class="container">
        <div class="page-content">

			<!-- MAIN CLAIM -->
   			<section class="section">
   				<div class="container">
   					<div class="row justify-content-md-center">
   						<div class="col-md-9 text-center">

   							<!-- HEADLINE -->
   							<h1>Get Ready for Some Creepy Shit</h1>
   							<p class="lead">"The night he watched his father die, Mal learned of the dark creatures who lurk in dreams, hungry for sleeping souls. Mal Winter, a young would-be hero, must traverse the dreamscape to learn the legacy of the Cloud Runners. He'll need to fight his greatest demons to save his family and friends from the unimaginable."</p>

							<div class="spacer my-4"></div>

   							<!--  TESTIMONIALS -->
   							<h3 class="mb-3">Ghouls Are Saying...</h3>
   							<ul class="block-grid-md-3 list-blockquotes">
   								<li><blockquote><p>"Perfect. Wouldn't change anything. I want to read the next one."</p><cite>Bailey, Age 9</cite></blockquote></li>
   								<li><blockquote><p>"I really liked it and it was fun and full of mystery and didn't know what was going to happen."</p><cite>Anne, Age 12</cite></blockquote></li>
   								<li><blockquote><p>"Fantastic storyline. I'm sure others would love to read it too. Great story.</p><cite>David, Age 10</cite></blockquote></li>
   							</ul>
   						</div>
   					</div>
   				</div>
   			</section>

			<!-- FEATURED BOOK -->
			<section class="section section-bleed">
				<div class="container">
					<div class="row">
						<div class="col-md-8">

							<!-- MAL WINTER AND THE CLOUD RUNNERS -->
							<h2>Mal Winter and the Cloud Runners</h2>
							<h3>Now Available for Purchase</h3>
							<p>After several years of hard work and imagination - Danny has written his first novel; the first in a planned series of children's books that will take readers to another world. It's a lively coming-of-age tale that deals with a young boy's struggle to become a hero.</p>

							<!-- ACTION BUTTONS -->
							<p class="mb-4">
								<a class="btn btn-primary mb-3" href="/store/"><i class="fa fa-shopping-cart"></i>&nbsp; Purchase now</a> &nbsp;&nbsp;
								<a class="btn btn-secondary mb-3" href="#newsletter-modal"><i class="fa fa-download"></i>&nbsp; Read free chapter</a>
							</p>

						</div>
					</div>
				</div>
			</section>

        </div>
    </div>
</main>

{% endcomment %}